// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: 15px;
}
// Спойлер
.spollers__item {
	font-size: rem(20);
 transition: all 0.7s;
 &:hover {
  background-color: $accentColor;
 } 
}
// Заголовок спойлера
.spollers__title {
 @include adaptiveValue("font-size", 28, 20);
 line-height: math.div(39, 28);
	width: 100%;
	cursor: default;
	text-align: left;
	padding: rem(10) rem(15);
	position: relative;
 span {
  @include adaptiveValue("font-size", 20, 16);
  line-height: math.div(28, 20);
  display: block;
  text-align: left;
  color: $textColor;
 }
	._spoller-init & {
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 10px;
			top: 50%;
			background-color: #000;
			height: 2px;
			width: 15px;
			transition: transform 0.5s ease 0s;
		}
		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}
		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}
		&._spoller-active {
   background-color: $accentColor;
   color: $primaryColor;
   span {
    color: $primaryColor;
   }
			&::before {
				transform: translateX(-75%) rotate(-40deg);
    background-color: $primaryColor;
			}
			&::after {
				transform: rotate(40deg);
    background-color: $primaryColor;
			}
		}
	}
 @media (max-width: 600px) {
  padding: rem(10) rem(40) rem(10) rem(15);
 }
}
// Контент спойлера
.spollers__body {
	padding: rem(20);
 background-color: $accentColor;
 color: $primaryColor;
}
