.tabs {
 // .tabs__navigation
 &__navigation {
  line-height: math.div(21, 18);
  display: flex;
  flex-wrap: wrap;
  @include adaptiveValue("gap", 40, 16);
  color: $primaryColor;
  position: absolute;
  top: 50%;
 }
 // .tabs__title
 &__title {
  transition: all 0.7s;
  padding-bottom: rem(10);
  border-bottom: rem(2) solid transparent;
  border-radius: rem(3);
  &:hover {
   border-color: $primaryColor;
  }
 }
 // .tabs__content
 &__content {
 }
 // .tabs__body
 &__body {
 }
}
//===================================================================
.main-unit {
 background-repeat: no-repeat;
 background-size: cover;
 height: 100vh;
 margin-top: -130px;
 // .main-unit_about
 &_about {
  background-image: url("../img/about-page/about/main.jpg");
 }
 // .main-unit_develop
 &_develop {
  background-image: url("../img/about-page/development/main.jpg");
 }
 // .main-unit_manual
 &_manual {
  background-image: url("../img/about-page/manual/main.jpg");
 }
 // .main-unit_collab
 &_collab {
  background-image: url("../img/about-page/collaboration/main.jpg");
  background-size: 100% 100%;
 }
 // .main-unit__title
 &__title {
  @include adaptiveValue("font-size", 50, 34);
  line-height: math.div(62, 50);
  padding-top: 230px;
  color: $primaryColor;
 }
}
//=======================================================================================
.benefits {
 background-color: $bgColor;
 // .benefits__item
 &__item {
  display: flex;
  justify-content: space-between;
  @include adaptiveValue("gap", 30, 0);
  @media (max-width: $mobile) {
   flex-direction: column;
  }
 }
 // .benefits__content
 &__content {
  max-width: rem(407);
  width: 100%;
  @media (max-width: $mobile) {
   max-width: 100%;
   min-height: rem(220);
  }
 }
 // .benefits__title
 &__title {
  @include adaptiveValue("font-size", 34, 26);
  line-height: math.div(34, 34);
  @include adaptiveValue("margin-bottom", 40, 20);
  @extend %intro-regular;
 }
 // .benefits__subtitle
 &__subtitle {
  padding-bottom: rem(20);
  border-bottom: rem(2) solid rgba(188, 188, 188, 0.51);
  margin-bottom: rem(20);
 }
 // .benefits__image-box
 &__image-box {
  display: flex;
  height: rem(470);
  object-fit: cover;
  position: relative;
  @media(max-width: $mobileSmall) {
   height: rem(326);
  }
 }
 // .benefits__image
 &__image {
  width: 100%;
  height: 100%;
  border-radius: rem(5);
 }
 // .benefits__buttons
 &__buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
 }
}

.swiper-button-prev,
.swiper-button-next {
 width: rem(40);
 height: rem(40);
 background-image:(url("../img/icons/arrow-slider.svg"));
 cursor: pointer;
}
.swiper-button-next {
 transform: rotate(180deg);
}
//================================================================================
.history {
 // .history__top
 &__top {
  display: flex;
  gap: 58px;
  @include adaptiveValue("margin-bottom", 60, 30);
  @media (max-width: $mobile) {
   flex-direction: column;
   gap: rem(30);
  }
 }
 // .history__title
 &__title {
  flex: 0 1 50%;
 }
 // .history__box
 &__box {
  flex: 0 1 100%;
 }
 // .history__subtitle
 &__subtitle {
  margin-bottom: rem(24);
 }
 // .history__item
 &__item {
  min-height: rem(225);
 }
 // .history__item-top
 &__item-top {
  display: flex;
  align-items: center;
  gap: rem(20);
  margin-bottom: rem(24);
 }
 // .history__year
 &__year {
  @include adaptiveValue("font-size", 43, 28);
  line-height: math.div(61, 43);
 }
 // .history__line
 &__line {
  display: block;
  max-width: rem(255);
  width: 100%;
  height: rem(2);
  background-color: rgba(188, 188, 188, 0.51);
 }
 // .history__name
 &__name {
  margin-bottom: rem(20);
 }
 // .history__content-text
 &__content-text {
  @include adaptiveValue("font-size", 18, 16);
  line-height: math.div(26, 18);
  color: $textColor;
 }

 .swiper-pagination-history {
  display: flex;
  justify-content: center;
  gap: rem(8);
 }
}