.career-page {
 background-image: url("../img/career-page/main-bg.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 height: 100vh;
 margin-top: -130px;
 // .career-page__box 
 &__box {
  padding-top: rem(300);
  color: $primaryColor;
 }
 // .career-page__title
 &__title {
  @extend %roboto-bold;
  @include adaptiveValue("font-size", 50, 34);
  line-height: math.div(62, 50);
  margin-bottom: rem(25);
 }
 // .career-page__text
 &__text {
  max-width: rem(750);
  width: 100%;
 }
}
//==============================================================================
.hero {
 background-color: $bgColor;
 // .hero__title
 &__title {
  margin-bottom: rem(40);
 }
 // .hero__item
 &__item {
  display: flex;
  background-color: $primaryColor;
  padding: rem(40);
  @include adaptiveValue("gap", 40, 20);
  overflow: auto;
  @media (max-width: $mobile) {
   display: block;
  }
 }
 // .hero__image
 &__image {
  flex: 0 1 31%;
  img {
   width: 100%;
  }
  @media (max-width: $mobile) {
   margin-bottom: rem(30);
  }
 }
 // .hero__info
 &__info {
  flex: 0 1 63.6%;
 }
 // .hero__name
 &__name {
  @extend %intro-regular;
  @include adaptiveValue("font-size", 28, 24);
  line-height: math.div(28, 28);
  margin-bottom: rem(10);
 }
 // .hero__position
 &__position {
  display: block;
  margin-bottom: rem(20);
 }
 // .hero__content
 &__content {
  display: none;
  height: auto;
  margin-bottom: rem(20);

 }
 // .hero__text
 &__text {
  @include adaptiveValue("font-size", 18, 16);
  display: flex;
  flex-direction: column;
  gap: rem(15);
  margin-bottom: rem(15);
  background-color: $primaryColor;
 }
 // .hero__more
 &__more {
  display: inline-block;
  cursor: pointer;
  color: $accentColor;
 }
 #c1,
 #c2,
 #c3 {
  display: none;
 }
 #c1:checked ~ .hero__content {
  display: block;
 }
 #c2:checked ~ .hero__content {
  display: block;
 }
 #c3:checked ~ .hero__content {
  display: block;
 }
 #c1:checked ~ label {
  visibility: hidden;
 }
 #c2:checked ~ label {
  visibility: hidden;
 }
 #c3:checked ~ label {
  visibility: hidden;
 }
 #c1:checked ~ label::after {
  content: "Свернуть";
  visibility: visible;
  display: block;
 }
 #c2:checked ~ label::after {
  content: "Свернуть";
  visibility: visible; 
  display: block;
 }
 #c3:checked ~ label::after {
  content: "Свернуть";
  visibility: visible;
  display: block;
 }
 .swiper-wrapper {
  height: 100% !important;
 }
}
//=======================================================================
.interview {
 display: flex;
 flex-direction: column;
 gap: rem(20);
 background-color: $primaryColor;
 // .interview__question
 &__question {
  font-weight: 700;
  margin-bottom: rem(20);
 }
}
//========================================================================
.program {
 background-color: $bgColor;
 // .program__top
 &__top {
  display: flex;
  @include adaptiveValue("margin-bottom", 60, 30);
  gap: rem(20);
  @media (max-width: $tablet) {
   flex-direction: column;
  }
 }
 // .program__title
 &__title {
  flex: 0 1 50%;
 }
 // .program__box
 &__box {
  flex: 0 1 100%;
 }
 // .program__subtitle
 &__subtitle {
  margin-bottom: rem(24);
 }
 // .program__text
 &__text {
  margin-bottom: rem(10);
 }
 // .program__image
 &__image {
  margin-bottom: rem(40);
  img {
   width: 100%;
  }
 }
 // .program__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(415px, 1fr));
  gap: rem(20);
  @media (max-width: $mobileSmall) {
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
 }
 // .program__item
 &__item {
  @include adaptiveValue("padding", 40, 10);
  max-width: 100%;
  min-height: rem(515);
  background-color: $primaryColor;
  cursor: pointer;
  transition: all 0.7s;
  &:hover {
   background-color: $accentColor;
   color: $primaryColor;
   .program__list-item {
    color: $primaryColor;
   }
   .program__list-item::before {
    background-color: $primaryColor;
   }
   a {
    color: $mainColor;
    text-decoration: underline;
   }
  }
  &_image {
   padding: 0;
  }
  img {
   width: 100%;
   height: 100%;
  }
  @media (max-width: 880px) {
   min-height: auto;
  }
 }
 // .program__item-title
 &__item-title {
  margin-bottom: rem(20);
 }
 // .program__list
 &__list {
  display: flex;
  flex-direction: column;
  gap: rem(10);
  padding-left: rem(30);
 }
 // .program__list-item
 &__list-item {
  color: $textColor;
  position: relative; 
  transition: all 0.7s;
  &::before {
   @include pseudo;
   width: rem(17);
   height: rem(1);
   background-color: $accentColor;
   left: rem(-25);
   top: rem(7);
  }
  a {
   color: $accentColor;
  }
 }
 // .program__list-descr
 &__list-descr {
  &:not(:last-child) {
   margin-bottom: rem(20);
  }
 }
}