.main-block {
 margin-top: rem(-130);
 // .main-block__slider
 &__slider {
  height: 100vh;
 }
 // .main-block__wrapper
 &__wrapper {
  height: 100%;
 }
 // .main-block__slide
 &__slide {
  height: 100%;
  &_first,
  &_second,
  &_third,
  &_fourth,
  &_fifth {
   background-image: url("../img/main-block/slide-1.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center;
  }
  &_second {
   background-image: url("../img/main-block/slide-2.jpg");
   @media (max-width: $mobile) {
    background-image: url("../img/main-block/slide-2-mob.jpg");
    background-size: contain 100%;
   }
  }
  &_third {
   background-image: url("../img/main-block/slide-3.jpg");
  }
  &_fourth {
   background-image: url("../img/main-block/slide-4.jpg");
  }
  &_fifth {
   background-image: url("../img/main-block/slide-5.jpg");
  }
 }
 // .main-block__item 
 &__item {
  height: 100%;
  padding-top: rem(275);
  position: relative;
 }
 // .main-block__item-container
 &__item-container {
  max-width: rem(1070);
  width: 100%;
  margin: 0 auto;
  padding: 0 rem(15);
 }
 // .main-block__title
 &__title {
  @extend %roboto-bold;
  @include adaptiveValue("font-size", 50, 24);
  line-height: math.div(62, 50);
  margin-bottom: rem(24);
  color: $primaryColor;
 }
}
//===========================================================================
.about {
 // .about__inner
 &__inner {
  display: flex;
  justify-content: space-between;
  gap: rem(30);
  @media (max-width: $mobile) {
   flex-direction: column;
  }
 }
 // .about__text-box
 &__text-box {
  max-width: rem(842);
  width: 100%;
  flex: 0 1 66.7%;
  @media (max-width: $mobile) {
   max-width: 100%;
  }
 }
 // .about__text-main
 &__text-main {
  @include adaptiveValue("font-size", 24, 20);
  line-height: math.div(34, 24);
  @extend %roboto-bold;
  color: $mainColor;
  margin-bottom: rem(24);
 }
}
//===========================================================================
.valuables {
 background-color: $bgColor;
 // .valuables__item
 &__item {
  display: flex;
  justify-content: space-between;
  @include adaptiveValue("gap", 30, 0);
  @media (max-width: $mobile) {
   flex-direction: column;
  }
 }
 // .valuables__content
 &__content {
  max-width: rem(407);
  width: 100%;
  @media (max-width: $mobile) {
   max-width: 100%;
   min-height: rem(220);
  }
  @media (max-width: $mobile) {
   min-height: rem(270);
  }
 }
 // .valuables__title
 &__title {
  @include adaptiveValue("font-size", 34, 26);
  line-height: math.div(34, 34);
  @include adaptiveValue("margin-bottom", 40, 20);
  @extend %intro-regular;
 }
 // .valuables__subtitle
 &__subtitle {
  @include adaptiveValue("font-size", 24, 20);
  line-height: math.div(34, 24);
  padding-bottom: rem(20);
  border-bottom: rem(2) solid rgba(188, 188, 188, 0.51);
  margin-bottom: rem(20);
 }
 // .valuables__image-box
 &__image-box {
  display: flex;
  height: rem(470);
  object-fit: cover;
  position: relative;
  @media(max-width: $mobileSmall) {
   height: rem(326);
  }
 }
 // .valuables__image
 &__image {
  width: 100%;
  height: 100%;
  border-radius: rem(5);
 }
 // .valuables__buttons
 &__buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
 }
}

.swiper-button-prev,
.swiper-button-next {
 width: rem(40);
 height: rem(40);
 background-image:(url("../img/icons/arrow-slider.svg"));
 cursor: pointer;
}
.swiper-button-next {
 transform: rotate(180deg);
}
//===========================================================================
.stats {
 // .stats__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  @include adaptiveValue("gap", 110, 10);
  @media (max-width: 1100px) {
   grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  @media (max-width: $mobile) {
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
 }
 // .stats__item
 &__item {
  @include adaptiveValue("font-size", 20, 15);
  line-height: math.div(25, 20);
  text-align: center;
  text-transform: uppercase;
  color: $textColor;
 }
 // .stats__num
 &__num {
  @extend %intro-regular;
  @include adaptiveValue("font-size", 100, 60);
  line-height: math.div(100, 100);
  display: block;
  margin-bottom: rem(24);
  color: $accentColor;
  span {
   @include adaptiveValue("font-size", 60, 20);
  }
 }
}
//===========================================================================
.products {
 background-color: $bgColor;
 // .products__title
 &__title {
  margin-bottom: rem(40);
 }
 // .products__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  @include adaptiveValue("gap", 20, 10);
  @media (max-width: 525px) {
   display: none;
  }
 }
 // .products__item
 &__item {
  @extend %intro-regular;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-size: cover;
  height: rem(317);
  color: $primaryColor;
  padding: 0 rem(20) rem(20);
  border-radius: rem(5);
  position: relative;
  &::before {
   @include pseudo;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36));
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   width: 100%;
  }
  &:hover::before {
   background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }
  // .products__item_01
  &_01 {
   background-image: url("../img/products/image-1.jpg");
   background-repeat: no-repeat;
  }
  // .products__item_02
  &_02 {
   background-image: url("../img/products/image-2.jpg");
   background-repeat: no-repeat;
  }
  // .products__item_03
  &_03 {
   background-image: url("../img/products/image-3.jpg");
   background-repeat: no-repeat;
  }
  // .products__item_04
  &_04 {
   background-image: url("../img/products/image-4.jpg");
   background-repeat: no-repeat;
  }
  // .products__item_05
  &_05 {
   background-image: url("../img/products/image-5.jpg");
   background-repeat: no-repeat;
  }
  // .products__item_06
  &_06 {
   background-image: url("../img/products/image-6.jpg");
   background-repeat: no-repeat;
  }
  // .products__item_07
  &_07 {
   background-image: url("../img/products/image-7.jpg");
   background-repeat: no-repeat;
  }
  // .products__item_08
  &_08 {
   background-image: url("../img/products/image-8.jpg");
   background-repeat: no-repeat;
  }
 }
 // .products__name
 &__name {
  font-size: rem(16);
  line-height: math.div(22, 16);
  max-width: rem(215);
  width: 100%;
 }
 // .products__num
 &__num {
  @include adaptiveValue("font-size", 20, 18);
  line-height: math.div(28, 20);
 }
 // .products__slider 
 &__slider {
  display: none;
  @media (max-width: 525px) {
   display: block;
  }
 }
 .swiper-pagination-products {
  display: flex;
  justify-content: center;
  gap: rem(10);
  padding-top: rem(20 );
 }
}
//===========================================================================
.career {
 // .career__top
 &__top {
  display: flex;
  justify-content: space-between;
  @include adaptiveValue("margin-bottom", 60, 30);
  @media (max-width: $tablet) {
   display: block;
  }
 }
 // .career__title
 &__title {
  margin-right: rem(30);
  @media (max-width: $tablet) {
   margin-right: 0;
   margin-bottom: rem(30);
  }
 }
 // .career__info
 &__info {
  max-width: rem(846);
  width: 100%;
  @media (max-width: $tablet) {
   max-width: 100%;
  }
 }
 // .career__subtitle
 &__subtitle {
  @include adaptiveValue("font-size", 24, 20);
  line-height: math.div(34, 24);
  margin-bottom: rem(24);
 }
}
//======================================================================================
.jobs {
 // .jobs__items
 &__items {
  display: flex;
  flex-direction: column;
  gap: rem(28);
 }
 // .jobs__responsibilities,
 // .jobs__conditions,
  // .jobs__requirements
 &__responsibilities,
 &__conditions,
 &__requirements {
  font-weight: 500;
  @include adaptiveValue("font-size",24 , 20);
  line-height: math.div(34, 24);
  margin-bottom: rem(24);
 }
 // .jobs__list
 &__list {
  display: flex;
  flex-direction: column;
  gap: rem(10);
 }
 // .jobs__list-item
 &__list-item {
  line-height: math.div(26, 18);
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  padding-left: rem(30);
  &::before {
   @include pseudo;
   width: rem(17);
   height: rem(2);
   background-color: $primaryColor;
   left: 0;
   top: 50%;
  }
 }
 // .jobs__btn
 &__btn {
  font-weight: 700;
  font-size: rem(16);
  line-height: math.div(18, 16);
  background-color: $primaryColor;
  color: $accentColor;
  border-radius: rem(5);
  text-align: left;
  padding: rem(14) rem(36);
  max-width: rem(180);
  width: 100%;
  border: rem(1) solid transparent;
  transition: all 0.7s;
  &:hover {
   background-color: $accentColor;
   color: $primaryColor;
   border-color: $primaryColor;
  }
 }
}
//===========================================================================================
.summary {
 background-color: $bgColor;
 // .summary__inner
 &__inner {
  display: flex;
  gap: rem(20);
  @media(max-width: $tablet) {
   display: block;
  }
 }
 // .summary__info
 &__info {
  max-width: rem(413);
  width: 100%;
  @media(max-width: $tablet) {
   margin-bottom: rem(40);
   max-width: 100%;
  }
 }
 // .summary__title
 &__title {
  margin-bottom: rem(40);
 }
 // .summary__text
 &__text {
  @include adaptiveValue("font-size", 24, 18);
  line-height: math.div(31, 24);
 }
 // .summary__link
 &__link {
  font-weight: 500;
  color: $accentColor;
 }
 // .summary__form
 &__form {
  max-width: rem(846);
  width: 100%;
  @media(max-width: $tablet) {
   max-width: 100%;
  }
 }
 // .summary__box
 &__box {
  display: flex;
  gap: rem(20);
  @media(max-width: $mobile) {
   flex-direction: column;
   gap: 0;
  }
 }
 // .summary__inputs
 &__inputs {
  display: flex;
  flex-direction: column;
  max-width: rem(413);
  width: 100%;
  gap: rem(40);
  margin-bottom: rem(40);
  &_left {
   margin-top: rem(-13);
  }
  @media(max-width: $mobile) {
   max-width: 100%;
  }
 }
 // .summary__label
 &__label {
  font-size: rem(12);
  line-height: math.div(17, 12);
  color: $textColor;
  margin-bottom: rem(2);
  display: flex;
  flex-direction: column;
  gap: rem(3);
 }
 // .summary__input
 &__input {
  background-color: transparent;
  padding: 0 rem(4) rem(4) 0;
  border-bottom: 2px solid rgba(188, 188, 188, 0.51);
  outline: none;
  &::placeholder {
   @include adaptiveValue("font-size", 18, 14);
   line-height: math.div(25, 18);
   color: $mainColor;
  }
 }
 // .summary__entry
 &__entry {
  background-color: transparent;
  resize: none;
  width: 100%;
  height: rem(144);
  border: 2px solid rgba(188, 188, 188, 0.51);
  border-radius: rem(5);
  margin-bottom: rem(40);
  outline: none;
  padding: rem(20);
  &::placeholder {
   @include adaptiveValue("font-size", 18, 14);
   line-height: math.div(25, 18);
   color: $textColor;
  }
 }
 // .summary__doc
 &__doc {
  @include adaptiveValue("font-size", 18, 16);
  line-height: math.div(25, 18);
  margin-bottom: rem(23);
  padding-left: rem(43);
  position: relative;
  &::before {
   @include pseudo;
   @include background(urL("../img/icons/new-document.svg"));
   width: rem(33);
   height: rem(40);
   left: 0;
   top: 50%;
   transform: translateY(-50%);
  }
 }
 // .summary__checkbox
 &__checkbox {
  margin-bottom: rem(40);
 }
}
//==========================================================================================
